body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 1em;
  text-align: center;
  color: #000000;
}

.form-container {
  width: 800px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin: 1em;
  color: #000000;
}

label {
  display: block;
  margin: 10px;
  color: #000000;
}

input[type="text"],
input[type="datetime-local"],
select {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 1em;
}

button {
  background-color: #15c263;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.react-calendar__month-view__weekdays,
.react-calendar__month-view,
.react-calendar__month-view__weekdays__weekday,
.react-calendar__month-view__days__day {
  position: relative;
  z-index: 0; 
}

.react-calendar {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal-overlay {
  z-index: 999999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
}

.event-modal {
  z-index: 9999999999;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: auto; 
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 999999
;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.visible {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Event list styling */
.event-list {
  list-style-type: none;
  padding: 0;
}

.event-item {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.event-priority-low {
  background-color: #3498db;
}

.event-priority-medium {
  background-color: #2ecc71;
}

.event-priority-high {
  background-color: #e74c3c;
}

.react-calendar__tile--now {
  background: #348adb;
  color: #fff;
  font-weight: bold;
  border: 2px solid #2980b9;
}

.react-calendar__tile--active {
  background: #3477db;
  color: #fff;
}